.cards-slider {
    position: relative;
    margin: 0 auto;
    max-height: 450px;
    max-width: 620px;
}

.cards-slider-wrapper {
    display: flex;
    flex-direction: row;
    position: absolute;
    transition: transform 0.5s ease-in-out;
}

.cards-slider:after {
    content: '';
    display: block;
    width: 100%;
    height: 380px;
    outline: 5px solid blue;
    position: absolute;
    top: 0;
    left: 0;
}

.slider {
    display: flex;
    flex-direction: row;
}

img {
    width:620px;
    max-height:380px;
    flex: 1;
    object-fit: cover;
}